.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Certifique-se de que o z-index está em -1 para ficar atrás do conteúdo */
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%); /* Aplica o filtro preto e branco */
}

.content {
    position: relative;
    z-index: 1; /* O conteúdo tem um z-index maior para ficar sobre o vídeo */
    min-height: 100vh;
    overflow-y: auto;
}
